<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" />

<div class="container mt-4">
    <h3 class="text-center mb-4">
        Hai un nuovo avvistamento di gatto da segnalare? Fallo qui!
    </h3>

    <div class="mt-5 mb-5">
        <h5>Titolo</h5>
        <input id="title" type="text" class="form-control" [(ngModel)]="title" />
    </div>

    <div class="mt-5 mb-5">
        <h5>Immagine</h5>
        <input type="file" class="form-control" (change)="onFileSelected($event)" />
    </div>

    <div class="mb-3">
        <h5>Descrizione</h5>
        <small class="text-muted">Scrivi una descrizione per il tuo avvistamento e utilizza Markdown per personalizzarla.
            Sulla destra visualizzerai un'anteprima del contenuto.
        </small>
    </div>
    <div class="markdown-wrapper mb-3">
        <div class="editor-container">
            <md-editor [(ngModel)]="desc" [options]="options"></md-editor>
        </div>
        
        
        <div class="preview-container">
            <h6>Anteprima</h6>
            <div style="overflow-y:scroll; height:260px;">
                <div class="cat-description" markdown emoji [data]="desc"></div>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-5">
        <h5>Posizione</h5>
        <small class="text-muted">Clicca sulla mappa per selezionare la posizione.</small>
        <div class="map-container">
            <div id="map-newcatcomponent"></div>
        </div>
        <div class="mt-2">
        @if(lat && lon){
            <div class="mt-1">
            <strong>Lat:</strong> {{ lat }},
            <strong>Lon:</strong> {{ lon }}
            </div>
        }
        </div>
    </div>

    @if(!title || !desc || !lat || !lon || !imgFile){
        <div class="alert alert-danger text-start">
            Compila tutti i campi per continuare.
        </div>
    }

    <div class="new-comment-container text-center">
        <button class="submit-cat-btn btn btn-primary text-white" [disabled]="buttonDisabled()" (click)="submitCat()">Invia</button>
    </div>
    
</div>
