.cat-description{
    padding-top: 10px;
}


.comments-list {
    padding: 20px;
    list-style: none;

    .comment-item {
        transition: background-color 0.2s ease;
        &:hover {
        background-color: #f8f9fa;
        }
    }

    .comment-avatar {
        font-size: 1rem;
    }

    .comment-header {
        font-size: 0.9rem;
    }

    .comment-text {
        font-size: 0.95rem;
        line-height: 1.4;
    }

    .empty-comment-list {
        padding: 1rem;
        text-align: left;
    }
}
