@import '../../variables';

footer {
  background-color: $pink !important;
  color: $dark-purple !important;
}

.app-link {
  color: $dark-pink !important;
}

.app-link:hover {
  color: $dark-purple !important;
}


