$pink: #fceaf1;
$dark-pink: #ee6a98;
$white: #ffffff;
$green: #60c7af;
$yellow: #fbe2a5;
$blue: #4f84c2;
$light-blue: #97d5f0;
$red: #ec1e51;
$dark-purple: #2e2638;


$primary:       $dark-pink;
$secondary:     $pink;
$success:       $green;
$info:          $light-blue;
$warning:       $yellow;
$danger:        $red;