
@import 'variables';
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.text-white {
  color: #fff !important;
  font-weight: bold;
}

.text-black {
  color: #000 !important;
  font-weight: bold;
}

.text-dark-pink {
  color: $dark-pink !important;
  font-weight: bold;
}

.text-dark-purple {
  color: $dark-purple !important;
  font-weight: bold;
}