.home {
  height: 575px;
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  width: 100%;
  
  background-image: url('/home_background.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.home > * {
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

#nuovo-gatto-btn{
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
