

<div class="home container d-flex flex-column align-items-center justify-content-center p-5 text-center">
    <img id="logo" alt="Logo" src="/sc_logo.png" width="150" height="150" class="mb-3 mt-3 img-fluid img-responsive"/>
    <h1> Benvenuto su <em>StreetCats</em>!</h1> <br>
    <h5 class="mb-4"> Pubblica avvistamenti di gatti e commenta gli avvistamenti da parte degli altri utenti.</h5>
    <button id="nuovo-gatto-btn" type="button" class="btn btn-primary text-white" (click)="goToNewCat()">Nuovo gatto</button>
</div>
